:root {
    --text: #070e18;
    --background: #fafafa;
    --primary: #8e9195;
    --secondary: #f2f4d7;
    --accent: #c84137;
}

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    position: absolute;
    background-color: var(--background);
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}





/*CANVAS*/
#container {
    position: relative;
    display: inline-block;
    background-color: var(--secondary);
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 3000px;
    height: 3000px;
}

canvas {

}